<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Claudia's BooksStore</h6>
        <p>We are working in order to make more easy buy desktop's products for all the CBBA city.</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Our Products</h6>
        <p>
          <a href="#!">Notebooks</a>
        </p>
        <p>
          <a href="#!">Schoolbags</a>
        </p>
        <p>
          <a href="#!">Desktop Paper</a>
        </p>
        <p>
          <a href="#!">Pencils</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Our Ideas</h6>
        <p>
          <a href="#!">To be the best store in CBBA</a>
        </p>
        <p>
          <a href="#!">Work for all the families</a>
        </p>
        <p>
          <a href="#!">We have the best prices !!!</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fas fa-home mr-3"></i> Cochabamba, CBBA 10012, Bol.</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> claudia@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> 4444444444 </p>
        <p>
          <i class="fas fa-print mr-3"></i> 7777777777 </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2018 Copyright:
          <a href="https://github.com/ramisohj/libreria-claudia">
            <strong> claudia-store.com</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->