<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col s4">
        <h5 class="white-text">Libreria Claudia</h5>
        <p class="grey-text text-lighten-4">Estamos trabajando para ofrecer los mejores productos en material de escritorio para la ciudad de Cochabamba.</p>
      </div>
      <div class="col s4">
        <h5 class="white-text">Nuestros Productos: </h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Cuadernos</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Mochilas</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Papel de escritorio</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Lapiceros</a></li>
        </ul>
      </div>
      <div class="col s4">
        <h5 class="white-text">Contactos: </h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Cochabamba, CBBA 10012, Bol.</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">claudia@gmail.com</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">4444444444</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">7777777777</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2019 Copyright MermeladaSoft
    <a class="grey-text text-lighten-4 right" href="https://github.com/ramisohj/libreria-claudia"><strong> claudia-store.com</strong></a>
    </div>
  </div>
</footer>
