<div class="row">
    <div  *ngFor="let product of products$  | async; let i = index" class="col s12 m3" >
      <p> {{product.image}}</p>
      <p>Index: {{i}}</p>
      <p>deft</p>
    </div>
  </div>


<div class="carousel">
    <a class="carousel-item" href="#one!">
      <img src=products.image>
    </a>
    <a class="carousel-item" href="#two!">
      <img src="../../assets/books/p01.jpg">
    </a>
    <a class="carousel-item" href="#three!">
      <img src="../../assets/books/p03.jpg">
    </a>
    <a class="carousel-item" href="#four!">
      <img src="../../assets/books/p04.jpg">
    </a>
    <a class="carousel-item" href="#five!">
      <img src="../../assets/books/p06.jpg">
    </a>
</div>