
<!-- 
  POSSIBLE SOLUTION !!!!  
<div class="" >
  <div *ngFor="let product of products$  | async"   >
      <img class="carousel-item"  src={{product.payload.doc.data().image}}>
  </div>
</div> 
-->

<div class="carousel">
  <a class="carousel-item" href="#one!">
    <img src="../../assets/books/p00.jpg">
  </a>
  <a class="carousel-item" href="#two!">
    <img src="../../assets/books/p01.jpg">
  </a>
  <a class="carousel-item" href="#three!">
    <img src="../../assets/books/p02.jpg">
  </a>
  <a class="carousel-item" href="#four!">
    <img src="../../assets/books/p03.jpg">
  </a>
  <a class="carousel-item" href="#four!">
    <img src="../../assets/books/p04.jpg">
  </a>
  <a class="carousel-item" href="#four!">
    <img src="../../assets/books/p05.jpg">
  </a>
  <a class="carousel-item" href="#four!">
    <img src="../../assets/books/p06.jpg">
  </a>
</div>
        
       