<div>
<!-- List Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content black">
  <li><a href="/product/list" class="white-text">Lista de Productos</a></li>
  <li class="divider"></li>
  <li><a href="/product/register" class="white-text">Registro de Productos</a></li>
  <li><a href="/product/delete" class="white-text">Eliminar Productos</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content"  style="width: 500px;" >
  <app-cart></app-cart>
</ul>

<!-- Navbar Structure -->
<nav>
  <div class="nav-wrapper black">
    <a href="#" class="brand-logo center">Libreria Claudia</a>  
    <ul id="nav-mobile" class="left">
      <li>
        <a class="dropdown-trigger" href="#!" data-target="dropdown1">
            <img class="material-icons" src="assets/icons/list.svg" style="filter: invert(1)">
          </a>
        </li>
    </ul>
    <ul id="#!" class="right">
        <li>
          <a href="#!">
              <img src="assets/icons/log-in.svg" style="filter: invert(1)">
          </a>
        </li>
        <li>
          <a class="dropdown-cartList" href="#!"  data-target="dropdown2" >
              <img src="assets/icons/shopping-cart.svg" style="filter: invert(1)">
          </a>
        </li>
    </ul>
  </div>
</nav>
</div>