<nav>
  <div class="nav-wrapper black">
    <a href="#" class="brand-logo center">Claudia's  Bookstore</a>  
    <ul id="nav-mobile" class="left">
        <li>
          <a href="sass.html">
            <img src="../../assets/icons/list.svg" style="filter: invert(1)">
          </a>
        </li>
        <li>
          <a href="badges.html">
              <img src="../../assets/icons/search.svg" style="filter: invert(1)">
          </a>
        </li>
    </ul>
    <ul id="nav-mobile" class="right">
        <li>
          <a href="sass.html">
              <img src="../../assets/icons/log-in.svg" style="filter: invert(1)">
          </a>
        </li>
        <li>
          <a href="badges.html">
              <img src="../../assets/icons/shopping-cart.svg" style="filter: invert(1)">
          </a>
        </li>
    </ul>
  </div>
</nav>
