<div>
<!-- List Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content black">
  <li><a href="/product/list" class="white-text">Lista de Productos</a></li>
  <li class="divider"></li>
  <li><a href="/product/register" class="white-text">Registro de Productos</a></li>
  <li><a href="/product/delete" class="white-text">Eliminar Productos</a></li>
</ul>

<!-- Navbar Structure -->
<nav>
  <div class="nav-wrapper black">
    <a href="#" class="brand-logo center">Libreria Claudia</a>  
    <ul id="nav-mobile" class="left">
      <li>
        <a class="dropdown-trigger" href="#!" data-target="dropdown1">
            <img class="material-icons" src="assets/icons/list.svg" style="filter: invert(1)">
          </a>
        </li>
        <li>
            <form>
              <div class="input-field col s12" hidden>
                <i class="material-icons prefix">textsms</i>
                <input type="text" id="autocomplete-input" class="autocomplete">
                <label for="autocomplete-input">Autocomplete</label>
              </div>
            </form>
        </li>
    </ul>
    <ul id="#!" class="right">
        <li>
          <a href="#!">
              <img src="assets/icons/log-in.svg" style="filter: invert(1)">
          </a>
        </li>
        <li>
          <a href="#!">
              <img src="assets/icons/shopping-cart.svg" style="filter: invert(1)">
          </a>
        </li>
    </ul>
  </div>
</nav>
</div>