<style>
   .crop {
        object-fit: cover;
        width: 100px;
        height: 250px;
    }
    .modalIMage {
        max-width: auto;
        height: 300px;
    }
    .cartList {
        margin-left: 35%;
        margin-right: 35%;
    }
    .cartListImage {
        max-width: auto;
        height: 100px;
    }
</style>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 class="center-align" >{{productSelected$.name}}</h4>
    <div class="center-align">
        <img src="{{productSelected$.image}}" class="modalIMage" >
    </div>
    <h4 class="center-align" >Producto en el carrito !!!!</h4>
    <h4 class="center-align" >Numero de unidades: {{numAdded$}}</h4>
    </div>
    <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-black btn">Ok</a>
    </div>
</div>

<div class="row">  
    <div class="row">
        <div class="col s0"><img class="material-icons" src="assets/icons/search.svg"  style="width: 50px;"></div>
        <div class="col s3"><input value="borrador"  type="text" [(ngModel)]="term" style="font-size: 30px;" ></div>
    </div>
    <div class="col s12 m3" *ngFor="let product of products | filter: term">
        <div class="card">
            <div class="card-image ">
                <img src="{{product.image}}" class="crop">
            </div>
            <div class="card-content" style="padding-bottom:0px">
                <span class="card-title activator grey-text text-darken-4">
                    <strong>{{product.name}}</strong>
                    <i class="material-icons right">more_vert</i>
                </span>
                <p for=""><strong>Cantidad:</strong> {{product.stock}} Unid.</p>
                <div class="right-align">
                        <h5><strong>{{product.price}} Bs.</strong></h5>
                </div>
            </div>
            <div class="card-action" >
                <!-- <a style="color: #26a69a " >Mas Detalles</a>                 -->
                <a style="color: #26a69a " data-target="modal1"  class="modal-trigger" (click)="addProductToCart(product.id, product)"> 
                    <i class="material-icons right icon-blue;" > shopping_cart</i> 
                </a> 
                
                <button class="waves-effect waves-light btn" (click)="increment(product)">Añadir</button>
                <font size="6" color="#26a69a" >   {{product.addToCart}}   </font>
                <button class="waves-effect waves-light btn" (click)="decrement(product)">Remover</button>
                


            </div>
            <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4" title="Descripción"><strong>{{product.name}}</strong><i class="material-icons right">close</i></span>
                    <p>{{product.description}}</p>
            </div>
        </div>
    </div>
</div>