<style>
   .crop {
        object-fit: cover;
        width: 100px;
        height: 250px;
    }
    .modalIMage {
        max-width: auto;
        height: 300px;
    }
    .cartList {
        margin-left: 35%;
        margin-right: 35%;
    }
    .cartListImage {
        max-width: auto;
        height: 100px;
    }
</style>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
    <h4 class="center-align" >{{productSelected$.name}}</h4>
    <div class="center-align">
        <img src="{{productSelected$.image}}" class="modalIMage" >
    </div>
    <h4 class="center-align" >Producto en el carrito !!!!</h4>
    </div>
    <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-black btn">Ok</a>
    </div>
</div>

<div class="row">
    <h3>Buscar</h3>
    <input value="borrador"  type="text" [(ngModel)]="term">
    <div class="col s12 m3" *ngFor="let product of products | filter: term">
        <div class="card">
            <div class="card-image ">
                <img src="{{product.image}}" class="crop">
            </div>
            <div class="card-content" style="padding-bottom:0px">
                <span class="card-title activator grey-text text-darken-4">
                    <strong>{{product.name}}</strong>
                    <i class="material-icons right">more_vert</i>
                </span>
                <p for=""><strong>Cantidad:</strong> {{product.stock}} Unid.</p>
                <div class="right-align">
                        <h5><strong>{{product.price}} Bs.</strong></h5>
                </div>
            </div>
            <div class="card-action" style="color: black">
                <a>Mas Detalles</a>                
                <a data-target="modal1"  class="modal-trigger" (click)="addProductToCart(product.id, product)"> 
                    <i class="material-icons right;"> shopping_cart</i> 
                </a>    
            </div>
            <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4" title="Descripción"><strong>{{product.name}}</strong><i class="material-icons right">close</i></span>
                    <p>{{product.description}}</p>
            </div>
        </div>
    </div>
</div>