<!--  CART LIST  -->
<div class="cartList">
  <ul class="collection" >
      <li>
          <h4 class="center-align">
              Carrito de compras:
          </h4>
      </li>
      <li class="collection-item avatar" *ngFor="let item of items$; let i = index">
          <div class="row">
              <div class="col s12 m6 l3">
                  <img src="{{item.image}}" alt="" class="cartListImage">
              </div>
              <div class="col s12 m6 l3">
                  <p>{{item.name}}</p>
              </div>
              <div class="col s12 m6 l3">
                  <p>Precio:  {{item.price}} <br>
                  Cantidad: <input type="number" min="1" max="{{item.stock}}" value="{{item.quantity}}" 
                  (input)="changeCount($event.target.value, item, i)">
                  </p>
              </div>
              <div class="col s12 m6 l3">
                <a style="color: #ffab40" (click)="remove(item)">
                        <i class="material-icons dp48">delete</i>
                </a>
              </div>
              <div class="col s12 m6 l3">
                  <p>Precio Total: {{item.price * item.quantity}}</p>
              </div>
          </div>
      </li>
      <li class="collection-item avatar center-align">
          <h5> NUMERO DE PRODUCTOS :  {{cartModel$.totalProductos$}} items.</h5>
      </li>
      <li class="collection-item avatar center-align">
          <h5> PRECIO TOTAL :  Bs. {{cartModel$.totalPrice$}} </h5>
      </li>
  </ul> 
</div>